.u-layout
  display flex
  font-family 'PT Sans', sans-serif
  flex-direction column
  min-height 100vh

  &__header
    left -1rem
    position fixed
    top 2rem
    width calc(100% + 2rem)
    z-index 1

  &__content
    flex 1
