//- template
extends ../layouts/default

//- dependencies
include ../components/about
include ../components/banner
include ../components/contact
include ../components/footer
include ../components/header
include ../components/services
include ../components/team

//- markup
block content
  .u-layout
    +header()

    .u-layout__content
      +banner()
      +about()
      +team()
      +services()
      +contact()

    +footer()
