//- template
extends ../layouts/default

//- dependencies
include ../components/about
include ../components/banner
include ../components/footer
include ../components/header
include ../components/team

//- markup
block content
  .u-layout
    +header()

    .u-layout__content
      +banner()
      +about()
      +team()

    +footer()
