.c-about
  background $dark-gray
  color $white
  padding 5rem 0
  position relative

  &:before
    triangle($white)

  &__text
    font-style italic

  &__items
    grid()

    > .c-about__item
      grid-cell()
