// Vendor
@import '../../node_modules/normalize.css/normalize.css'

// base
@import 'base/mixins'
@import 'base/variables'

// utils
@import 'utils/reset'
@import 'utils/helpers'
@import 'utils/layout'
@import 'utils/type'

// components
@import 'components/about'
@import 'components/banner'
@import 'components/footer'
@import 'components/header'
@import 'components/navigation'
