mixin about()
  section.c-about
    .h-limiter
      h2.u-type-heading.u-type-heading--main Escritório
      ul.c-about__items
        li.c-about__item
          h3.u-type-heading Quem somos
          p.u-type-text.c-about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quibusdam, corrupti accusantium ea, sapiente placeat a id voluptates dolores vitae, animi. Dolores quaerat voluptatibus quod illo amet natus accusamus provident.
