mixin banner()
  section.c-banner
    ul.c-banner__items
      li.c-banner__item(style='background-image:url(//lorempixel.com/1440/900/)')
        .h-limiter.c-banner__wrapper
          p.c-banner__text Comprometimento na entrega de soluções jurídicas.
